*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --blanco: #fffceb;
    --azulito: #0a9696;
    --negro :#000000;
}


body{
    
    background-color: var(--negro);
    min-height: 100vh;
    color: var(--negro);
    font-family: 'Pliant';
}
.container a{
    background-color: none !important;
    color: #fffceb;
}


.opcion-menu{
    color: var(--blanco);
    transition: 0.3s;
}

.opcion-menu:hover{
    color: var(--blanco);
}

.opcion-menu:focus,
.opcion-menu:active{
    color: var(--azulito);
    outline: none;
}

.logo{
    width: 60px;
    transition: transform 1s ease;
}

.logo:hover{
    transform: scale(1.03);
}

.marca{
    color: var(--azulito);
    font-size: 27px;
    font-weight: 600;
    transition: transform 1s ease;
}

.marca:hover{
    transform: scale(1.03);
}
.welcome{
    background-color: none !important;
    position: relative;
    height: 80vh;
    background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
    ),
    url("../IMG/pexels-foadshariyati-29392546.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome h1{
    color: var(--blanco);
}


.welcome::before{
    content: ""; 
    position: absolute; 
    inset: 0; 
    background: linear-gradient( to top,
    rgba(0, 0, 0, 1) 0%, 
    rgba(0, 0, 0, 0.6) 20%, 
    rgba(0, 0, 0, 0.1) 30%, 
    transparent 45% ); 
    pointer-events: none; 
}

.welcome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.welcome-content p{
    font-size: 32px;
    color: var(--blanco);
}

.welcome-content h1{
    font-size: 45px;
    color: var(--blanco);
}

.welcome p:last-child{
    text-align: center;
    max-width: 900px;
    height: 100px;
    font-size: 25px;
    color: var(--blanco);
}


.container div{
    align-items: center;
    justify-content: center;
}

#servicios .row{
    transform: translateY(-80px);
}

.tarjeta{
    background-color: var(--negro);
    border: none;
    transition: transform .3s ease-in;
}

.tarjeta:hover{
    background-color: var(--azulito);
    transform: scale(1.04);
}

.card-body{
    display: flex;
    flex-direction: column;
}
.dashboard-card{
    background-color: #000000;
    color: var(--azulito);
}
.panel{
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--azulito);
}
.panel tr{
    background: #fffceb;
    color: #0a9696;
}
.welcome::before{
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(circle at center,
            transparent 45%,
            rgba(0,0,0,.65) 100%);
}

