button {
  background-color: transparent;
  color: #2887bf; 
  height: 40px; /* Altura ligeramente más pequeña para un diseño más compacto */
  border: 2px solid #2887bf; /* Borde ligeramente más fino para más elegancia */
  padding: 0px 50px; /* Padding reducido para hacer el botón más pequeño */
  border-radius: 15px; /* Forma de píldora (muy moderna) */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px; /* Texto un poco más sutil */
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(180deg, #2887bf, #242659); /* Degradado moderno al pasar el mouse */
  color: white;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4); /* Brillo más suave y expandido */
  transform: translateY(-2px); /* Pequeño salto al pasar el mouse */
}